<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Insurance>
            <version>0.1.0</version>
            <depends>
            </depends>
        </Mage_Insurance>
    </modules>
    <frontend>
        <routers>
            <insurance>
                <use>standard</use>
                <args>
                    <module>Mage_Insurance</module>
                    <frontName>insurance</frontName>
                </args>
            </insurance>
        </routers>
    </frontend>
    <admin>
        <routers>
            <Mage_Insurance_admin_router>
                <use>admin</use>
                <args>
                    <module>Mage_Insurance</module>
                    <frontName>insurance</frontName>
                </args>
            </Mage_Insurance_admin_router>
        </routers>
    </admin>
    <!--    <adminhtml>
            <menu>
                <insurance module="insurance">
                    <title>Insurance</title>
                    <sort_order>77</sort_order>
                    <children>
                        <article module="insurance">
                            <title>Manage</title>
                            <sort_order>0</sort_order>
                            <action>insurance/test</action>
                        </article>
                    </children>
                </insurance>
            </menu>
            <acl>
                <resources>
                    <all>
                        <title>Allow Everything</title>
                    </all>
                    <admin>
                        <children>
                            <insurance>
                                <title>Insurance Module</title>
                                <sort_order>200</sort_order>
                            </insurance>
                        </children>
                    </admin>
                </resources>
            </acl>
            <layout>
                <updates>
                    <insurance>
                        <file>insurance.xml</file>
                    </insurance>
                </updates>
            </layout>
        </adminhtml>-->
    <global>
        <!--<models>
            <insurance>
                <class>Insurance_Model</class>
                <resourceModel>insurance_mysql</resourceModel>
            </insurance>
            <insurance_mysql>
                <class>Insurance_Model_Mysql</class>
                <entities>
                    <article>
                        <table>blog_articles</table>
                    </article>
                </entities>
            </insurance_mysql>
        </models>-->
        <resources>
            <insurance_setup>
                <setup>
                    <module>Mage_Insurance</module>
                    <class>Mage_Insurance_Model_Resource_Setup</class>
                    <!--<class>Mage_Insurance_Model_Resource_Setup</class>-->
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </insurance_setup>
            <insurance_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </insurance_write>
            <insurance_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </insurance_read>
        </resources>
        <blocks>
            <delivery_insurance>
                <class>Mage_Insurance_Block</class>
            </delivery_insurance>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Mage_Insurance_Block_Adminhtml_Totals_Order</sales_order_totals>
                    <sales_order_invoice_totals>Mage_Insurance_Block_Adminhtml_Totals_Invoice</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Mage_Insurance_Block_Adminhtml_Totals_Creditmemo</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <insurance>
                <class>Mage_Insurance_Helper</class>
            </insurance>
        </helpers>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <save_shipping_method>
                        <type>singleton</type>
                        <class>Mage_Insurance_Model_Observer</class>
                        <method>saveShippingMethod</method>
                    </save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
<!--            <sales_quote_save_before>
                <observers>
                    <save_before>
                        <type>singleton</type>
                        <class>Mage_Insurance_Model_Observer</class> &lt;!&ndash; Over Model Class &ndash;&gt;
                        <method>saveQuoteBefore</method> &lt;!&ndash; name of function &ndash;&gt;
                    </save_before>
                </observers>
            </sales_quote_save_before>-->
<!--            <sales_quote_item_save_before>
                <observers>
                    <save_before>
                        <type>singleton</type>
                        <class>Mage_Insurance_Model_Observer</class>
                        <method>saveQuoteItemBefore</method>
                    </save_before>
                </observers>
            </sales_quote_item_save_before>-->
<!--            <sales_order_before_save>
                <observers>
                    <save_before_test>
                        <type>singleton</type>
                        <class>Mage_Insurance_Model_Observer</class>
                        <method>saveOrderBefore</method>
                    </save_before_test>
                </observers>
            </sales_order_before_save>-->
<!--            <sales_model_service_quote_submit_after> &lt;!&ndash; Event called after order placed &ndash;&gt;
                <observers>
                    <sales_model_service_quote_submit_after>
                        <type>singleton</type>
                        <class>Mage_Insurance_Model_Observer</class> &lt;!&ndash; Over Model Class &ndash;&gt;
                        <method>saveOrderAfter</method> &lt;!&ndash; name of function &ndash;&gt;
                    </sales_model_service_quote_submit_after>
                </observers>
            </sales_model_service_quote_submit_after>-->
        </events>
        <sales>
            <quote>
                <totals>
                    <delivery_insurance>
                        <class>Mage_Insurance_Model_Totals_Quote</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </delivery_insurance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <delivery_insurance>
                        <class>Mage_Insurance_Model_Totals_Invoice</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </delivery_insurance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <delivery_insurance>
                        <class>Mage_Insurance_Model_Totals_Creditmemo</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </delivery_insurance>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <delivery_insurance><to_order>*</to_order></delivery_insurance>
                <base_delivery_insurance><to_order>*</to_order></base_delivery_insurance>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
</config>