<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Insurance>
            <version>0.1.0</version>
            <depends>
                <!-- no dependencies -->
            </depends>
        </Mage_Insurance>
    </modules>
    <frontend>
        <routers>
            <insurance>
                <use>standard</use>
                <args>
                    <module>Mage_Insurance</module>
                    <frontName>insurance</frontName>
                </args>
            </insurance>
        </routers>
    </frontend>
    <admin>
        <routers>
            <Mage_Insurance_admin_router>
                <use>admin</use>
                <args>
                    <module>Mage_Insurance</module>
                    <frontName>insurance</frontName>
                </args>
            </Mage_Insurance_admin_router>
        </routers>
    </admin>
<!--    <adminhtml>
        <menu>
            <insurance module="insurance">
                <title>Insurance</title>
                <sort_order>77</sort_order>
                <children>
                    <article module="insurance">
                        <title>Manage</title>
                        <sort_order>0</sort_order>
                        <action>insurance/test</action>
                    </article>
                </children>
            </insurance>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <insurance>
                            <title>Insurance Module</title>
                            <sort_order>200</sort_order>
                        </insurance>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <insurance>
                    <file>insurance.xml</file>
                </insurance>
            </updates>
        </layout>
    </adminhtml>-->
    <global>
        <!--<models>
            <insurance>
                <class>Insurance_Model</class>
                <resourceModel>insurance_mysql</resourceModel>
            </insurance>
            <insurance_mysql>
                <class>Insurance_Model_Mysql</class>
                <entities>
                    <article>
                        <table>blog_articles</table>
                    </article>
                </entities>
            </insurance_mysql>
        </models>-->
        <resources>
            <mage_insurance_setup>
                <setup>
                    <module>Mage_Insurance</module>
                    <!--<class>Mage_Insurance_Model_Resource_Setup</class>-->
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mage_insurance_setup>
            <insurance_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </insurance_write>
            <insurance_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </insurance_read>
        </resources>
        <blocks>
            <insurance>
                <class>Mage_Insurance_Block</class>
            </insurance>
        </blocks>
        <helpers>
            <insurance>
                <class>Mage_Insurance_Helper</class>
            </insurance>
        </helpers>
    </global>
</config>